press-room/*
blog/*
.bash_history
.viminfo
munin/*
*.DS_Store
images.zip
holidayproblems/*
/nbproject/
.gitconfig
.ssh
.htaccess

images/site/gift-card-promo-banner.png
emails/gift-card-promo-banner.png
